html,body,ul,li,ol,p,span,div,header,main,h1,h2,h3,h4,h5,h6,em,i,small,section,aside,s,menu,code,label,eq,textarea,input,table,tr,td,th,thead,tbody,option,audio,canvas,svg,select,button,head,footer,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,font,img,ins,kbd,q,samp,strike,strong,msqrt,sub,sup,tt,var,b,u,center,dl,dt,dd,fieldset,form,legend,caption,card,circle,article{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
html,body{height:100%;}
html *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,微软雅黑,STHeitiSC-Light,simsun,宋体,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
    font-size: 14px;
}
ul,ol,li{list-style: none;}
a{
    text-decoration: none;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; }
em,i{font-style:normal;}

.top{
    height: 80px;
    background: #3385ff;
}

.leftNav{
    background: #f4f4f4;
    width: 200px;
    height: 100%;
}

.mainPage{
    padding: 20px;
    color: #333;
}

.nav-tabs li{
    margin-right: 50px;
}

.nav-tabs li a{
    font-size: 18px;
    color: #333;
}

.nav-tabs li a{
    padding: 10px 0px;
}

.nav-tabs>li>a:hover{
    border-color: transparent;
}

.nav-tabs li.active a,
.nav-tabs li.active a:active,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus{
    color: #3385ff;
    border:none;
    border-bottom:1px solid #3385ff;
}

.nav-tabs.bg-gray{
    background: #ebebeb;
    border:none;
}

.nav-tabs.bg-gray li{
    margin: 0 35px;
}

.nav-tabs.bg-gray li:first-child{
    margin-left: 60px;
}

.nav-tabs.bg-gray li a{
    background: transparent;
    border: 2px;
    padding: 35px 0;
}

.nav-tabs.bg-gray li.active a{
    border-bottom: 2px solid #3385ff;
}

.nav-tabs.bg-gray li a:hover,
.nav-tabs.bg-gray li a:active,
.nav-tabs.bg-gray li a:focus{
    border: none;
    background: transparent;
    border-bottom: 2px solid #3385ff;
}

.nav-pills.nav-blue>li.active>a,
.nav-pills.nav-blue>li.active>a:focus,
.nav-pills.nav-blue>li.active>a:hover{
    background: #3385ff;
}

.mrL20{
    margin-left: 20px;
}

.mrB20{
    margin-bottom: 20px;
}

.mrR15{
    margin-right: 15px;
}

.mrR5{
    margin-right: 5px;
}

.mrT15{
    margin-top: 15px;
}

.mrT10{
    margin-top: 10px;
}

.mrT30{
    margin-top: 30px;
}

.mrB10{
    margin-bottom: 10px;
}

.techStorySet .row,
.techStory .row{
    margin-top: 20px;
    margin-bottom: 20px;
}

input.bigSize,
.btn.bigSize{
    height: 44px !important;
}

.techStory .btn.bigSize{
    width: 90px;
}

.col-md-1.first-col{
    padding-left: 0;
    line-height:34px;
}

.first-col label{
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
}

article{
    margin: auto;
    padding: 25px 0;
    font-size: 0;
    border-bottom: 1px solid #cecece;
}

.checkboxWrap{
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
}

.video-wrap .checkboxWrap,
.img-wrap .checkboxWrap{
    height: 228px;
    line-height: 228px;
}

.mediaBox{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;;
}

.mediaBox video, .mediaBox img{
    width: 320px;
    height: 208px;
}

section.content{
    display: inline-block;
    width: calc(100% - 410px);
    vertical-align: middle;
    margin-left: 10px;
}

.techStory section.content{
    width: calc(100% - 340px);
}

article .info{
    font-size: 14px;
    margin-top: 25px;
    color: #999;
}

article .info span{
    padding: 5px 15px 5px 0;
    display: inline-block;
}

.info span.tag,
.article-info span.tag{
    padding: 4px 15px;
    border: 1px solid #3385ff;
    color: #3385ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.info .tag.red,
.article-info .tag.red{
    border: 1px solid #ff3355;
    color: #ff3355;
}

.info .tag.green,
.article-info .tag.green{
    border: 1px solid #7fc420;
    color: #7fc420;
}

article.mediaBox .info{
    margin-top: 40px;
}

article .btn{
    width: 120px;
    margin: 0 22px;
}

article section {
    display: inline-block;
}

section.right{
    width: calc(100% - 60px);
    vertical-align: middle;
}

article p.detail{
    font-size: 14px;
    color: #666;
    margin-top: 25px;
}

article .img-list{
    margin-top: 25px;
}

article .img-list img{
    width: 100%;
    height: 100%;
}

.page-bar{
    text-align: center;
}

.noDataWrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.noDataWrapper p.text{
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.techCube{
    background: #f6f9fb;
}

.techCube .btn-group .btn{
    padding: 6px 20px;
    background: #ebebeb;
    color: #333;
}

.techCube .btn-group .btn-active{
    background: #3385ff;
    color: #fff;
}

.btn-wrapper{
    background: #fff;
    padding: 40px 50px 0px 50px;
}

.chart-wrap{
    width: 100%;
    height: 450px;
    margin: auto;
    padding: 15px 0;
}

.techCube .date-wrapper{
    margin-bottom: 20px;
}

.itemTitle{
    font-size: 16px;
    padding: 0 25px;
    border-left: 3px solid #3385ff;
}

div.item {
    margin-bottom: 20px;
    padding: 59px;
    background: #fff;
}

.item-half{
    display: inline-block;
    width: calc(50% - 10px);
    background: #fff;
    padding: 59px;
    margin-bottom: 20px;
}

.col-md-2.text{
    line-height: 34px;
    width: 12%;
}

.techCube .search-box{
    margin: 20px auto;
}

.info-wrap{
    font-size: 0;
    padding: 20px;
}

.info-quarter{
    width: 25%;
    display: inline-block;
    text-align: center;
}

.info-quarter .icon-box{
    width: 100px;
    height: 100px;
    background: #f6f9fb;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    line-height: 125px;
}

.info-quarter .name{
    font-size: 16px;
    margin-top: 15px;
}

.info-quarter .num{
    font-size: 24px;
}

.cube-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url('../images/icon1.png');
    background-repeat: no-repeat;
    -webkit-background-size: 120px 30px;
    background-size: 120px 30px;
}

.cube-icon.icon1{
    background-position: 2px 0px;
}

.cube-icon.icon2{
    background-position: -31px 0px;
}

.cube-icon.icon3{
    background-position: -64px 0px;
}

.cube-icon.icon4{
    background-position: -93px 0px;
}

.chart-box{
    font-size: 0px;
    padding: 15px 0px;
}

.chart-quarter{
    width: 25%;
    height: 210px;
    display: inline-block;
    padding: 10px;
}

.honestyView,
.personalHonestDetail,
.honestyResult,
.techPlatform{
    padding: 30px 40px;
    background: #f6f9fb;
}

.item .left,
.item .right{
    width: calc(50% - 80px);
    height: 500px;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    text-align: center;
}

.score-explain{
    margin: 20px 0px 10px 0px;
}

.score-table{
    width: 500px;
}

.table-wrap{
    padding: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle!important;
}

.honest-list{
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.honest-list li{
    line-height: 40px;
}

.honest-list li .time{
    margin-right: 4em;
}

.td-chart{
    width: 300px;
    height: 200px;
}

.mrR4{
    margin-right: 4em;
}

.chart-wrap-small{
    height: 200px;
}

.chart-wrap-middle{
    height: 328px;
}

.chart-wrap-big{
    height: 550px;
}

.techPlatform .chart-wrap{
    width: 100%;
}

.techPlatform .panel-body{
    padding: 0px 10px;
}

.articleDetail article{
    margin: auto;
    padding: 0px;
    border: none;
}

.articleDetail article .article-info{
    margin: 15px auto;
    font-size: 14px;
}

.article-info span,
.article-sub-info span{
    padding: 5px 20px 5px 0;
}

.articleDetail article .article-sub-info{
    font-size: 14px;
    color: #999;
}

.article-sub-info .like-wrap{
    color: #3385ff;
    cursor: pointer;
}

.article-media{
    margin: 15px auto;
    text-align: center;/*不加这个, 该容器里的video不能居中显示*/
}

.article-media video{
    height: 545px;
    max-width: 90%;
}

.articleDetail article .article-content{
    margin: 15px auto;
    font-size: 16px;
    text-indent: 2em;
    line-height: 28px;
}

article .copyright{
    font-size: 14px;
    color: #999;
}

.title a,
.title a:hover,
.title a:active,
.title a:focus{
    color: #666;
    text-decoration: none;
}

.articleDetail footer{
    font-size: 12px;
}

.search-select{
    border: 1px solid #cecece;
    font-size: 0;
}

.search-select .box{
    padding: 10px 0;
    background: #fafafa;
}

.search-select .text{
    font-size: 14px;
    padding: 10px 20px;
    border-bottom: 1px solid #cecece;
}

.search-select .left{
    font-size: 14px;
    display: inline-block;
    width: 75px;
    text-align: right;
    vertical-align: top;
    line-height: 30px;
    margin-right: 10px;
}

.search-select .right{
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 85px);
    vertical-align: top;
    line-height: 30px;
}

.search-select ul li{
    display: inline-block;
    padding: 1px 10px;
    cursor: pointer;
}

.search-select li.selected{
    background: #3385ff;
    color: #fff;
    border-radius: 5px;
}

.infoCenter .infoCenter-panel{
    height: 478px;
}

.infoCenter .infoCenter-panel .panel-heading{
    height: 48px;
}

.infoCenter .infoCenter-panel .panel-body{
    height: 428px;
}

.infoCenter-panel .echart-box{
    height: 398px;
}

.panel-body.hot-list-box{
    padding: 0;
}

.hot-list{
    height: 100%;
    overflow-y: auto;
}

.hot-list li{
    line-height: 54px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 28px;
}

.mainPage .input-group-addon{
    top: 0;
    background: transparent;
    cursor: pointer;
}

.article-wrapper.hasBorder{
    border: 1px solid #cecece;
}

.article-wrapper.hasBorder article{
    padding: 25px 40px;
}

.article-wrapper.hasBorder article:last-child{
    border-bottom: none;
}

.tech-hot .title{
    color: #3385ff;
    margin-bottom: 10px;
}

.hot-list a{
    font-size: 14px;
    line-height: 30px;
    margin: 15px 0;
    color: #666;
    text-decoration: none;
}

.hot-list a:hover,
.hot-list a:active,
.hot-list a:focus{
    color: #666;
}

.infoCenter .article-media.slideBox{
    margin-left: 0;
}

.roleManage .search-wrapper{
    padding: 20px 0;
}

.bg-blue{
    background: #3385ff !important;
    color: #fff !important;
}

.bg-blue button.close{
    color: #fff;
    opacity: 1;
}

.table thead tr th{
    font-weight: normal;
    font-size: 16px;
}

.delete-icon-box{
    width: 90px;
    height: 90px;
    margin: auto;
    background: #63c422;
    border-radius: 50%;
    padding: 27px;
}

.delete-icon-box .glyphicon-trash{
    font-size: 35px;
    color: #fff;
}

.deleteRoleModal p.text{
    font-size: 16px;
    color: #666;
    margin: 15px auto;
    text-align: center;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.text-center{
    text-align: center !important;
}

.table-thead-blue>thead>tr>th {
    background-color: #3385ff;
    color: #ffffff;
}

.table-thead-blue>thead>tr>th,.table-thead-blue>tbody>tr>td {
    border: none;
}
.form-striped>div.form-group{
    margin-bottom: 0;
}
.form-striped>div:nth-of-type(odd){
    background-color: #f9f9f9;
}
.border-table-600{
    width: 600px;
    margin: 0 auto;
    border:1px solid #ddd;
}
.border-table-600 td{
    padding-left: 30px;
}
.bg-gray{
    background: #fafafa !important;
}

.publish-box{
    height: 44px;
    padding: 12px 0;
}

.loadMoreBox{
    margin-top: 25px;
}

span.thumbs-up{
    cursor: pointer;
}

.thumbs-up.active{
    color: #2478f6;
}

.techStory .search-box,
.techStory .summary{
    margin: 20px 0;
}

.techStory .search-box .input-group{
    width: 600px;
}

.techStory .icon-edit{
    background-image: url('../images/icon-edit.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}


/*科技智汇*/
/*一键搜索*/

.poolSearch .input-group{
    width:866px;
    margin:0 auto;
    margin-top:30vh;
}
.poolSearch .form-control,.poolResult .form-control{
    height:46px;
    width:736px;
    border:1px solid #3385ff;
}
.poolSearch .input-group-btn .btn,.poolResult .input-group-btn .btn{
    height:46px;
    width:130px;
    border:1px solid #3385ff;
    background-color:#3385ff;
    color:#ffffff;
}
.poolSearch .list-group{
    width:1134px;
    margin:0 auto;
    margin-top:100px;
    
}
.poolSearch .list-group .list-group-item{
    padding:0;
    

}
.poolSearch .list-group .list-group-item{
    margin-left:20px;
}
.poolSearch .list-group .title{
  display:inline-block;
  background-color:#fafafa;
  width:146px;
  height:62px;
  line-height:62px;
  border-right:1px solid #ddd;
  font-size: 16px;
}
.poolSearch  .item-list {
    display:inline-block;
    vertical-align: middle;
    width:880px;
    padding:0 15px;
    
}
.poolSearch  .item-list li{
  float:left;
  width:121px;
  text-align:center;
  color:#666666;
  cursor:pointer;
}
.poolSearch .modal-header{
    background-color:#3385ff;
    text-align: center;
    color:#ffffff;

}
.poolSearch .modal-header .close{
    color:#ffffff;
    opacity:1;
    box-shadow: 0;
    margin-top:4px;
}
@media (min-width: 768px){
.poolSearch .modal-dialog {
    width: 900px;
    margin: 30px auto;
}
}
.poolSearch .modal .item-list li{text-align: left}
.poolSearch .modal .item-list li,#setRange .modal-body h4{
    margin-top:40px;
}
#setRange .modal-body{
    padding-bottom:60px;
}
.poolSearch .icheckbox_square-blue{
    margin-right:8px;
}
.poolSearch .word-box{
    padding:9px 30px 24px 30px;
    border:1px solid #cfd1d3;
    border-radius: 3px;
    margin-top:20px;
}
.poolSearch .word-list span{
  display:inline-block;
  padding:5px 15px;
  margin-right:10px;
  border:1px solid #cfd1d3;
  color:#4c4c4c;
  margin-top:15px;
  cursor:pointer;
}
.poolSearch .add-word input{
  border:1px solid #cfd1d3;
  height:40px;
  padding:0 10px;
  border-radius:4px;
}
.poolSearch .add-word{
   margin-top:15px; 
}
.poolSearch .add-word .btn{
    width:100px;
    border:1px solid #3385ff;
    background-color:#3385ff;
    color:#ffffff;
    height:40px;
    margin-left:20px;

}
.poolSearch .word-box h4{
    margin-top:15px;
}

.btn{
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.btn-primary{
    color:#fff;
    background-color: #3385ff;
    border-color: #3385ff;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary .badge {
    color: #2674e8;
    background-color: #fff;
}
.btn-success{
    color:#fff;
    background-color: #7fc420;
    border-color: #81c521;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:hover {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success .badge {
    color: #77b71f;
    background-color: #fff;
}
.article-form{
    padding-top: 65px;
    width: 850px;
    margin:auto;
}

.enterpriseDataDisplay .btn-area{
    margin: 20px auto;
}

.enterpriseDataDisplay .table-info img{
    width: 150px;
    height: 150px;
}

.nav.nav-classify{
    margin: 30px 0;
}

.nav.nav-classify li{
    width: 16.6667%;
    margin: 0;
    text-align: center;
}

.nav.nav-classify li a{
    font-size: 18px;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #3385ff;
    border: 1px solid #e5e5e5;
}

.nav.nav-classify li:hover a,
.nav.nav-classify li:active a,
.nav.nav-classify li:focus a{
    background: #6aa5fc;
}

.nav.nav-classify li.active a{
    background: #fff;
    color: #000;
}

.enterpriseDataDisplay div.item{
    padding: 30px 0 0;
}

.panel-lightblue .panel-heading,
.table.table-lightblue thead tr th{
    background: #e7f7ff;
    font-size: 14px;
}

/*搜索结果*/
.poolResult a{
    color:#3385ff;
}
 .poolResult .top-tool .input-group{
    width:866px;
    margin-top:-10px;
}
.poolResult .top-tool{
    padding-top:35px;
}
.poolResult .top-tool a{
    display:inline-block;
    font-size:22px;
    vertical-align: middle;
    color:#3385ff;
}
.poolResult .top-tool a:hover,.poolResult .top-tool a:focus{
    text-decoration: none;
}
.poolResult .result-box {
 margin-top:30px;
}
.poolResult .result-box:last-of-type {
 margin-bottom:30px;
}

.poolResult .result-box table{
    margin-bottom: 20px;
}
.poolResult .result-box table td{
    height:40px;
    vertical-align:bottom;


}
.poolResult .result-box table tr td:first-child a{
    display:block;
   width:600px;
  padding-right:20px;
  color:#333;
  text-overflow: ellipsis; 
  -moz-text-overflow: ellipsis;  
  overflow: hidden;  
   white-space: nowrap;  
}
/*智搜*/
.intelligentSearch .filter-list{
    margin-top:20px;
}
.intelligentSearch .filter-list li{
    display:inline-block;
    margin-left:20px;
    margin-bottom:20px;
}
.intelligentSearch .filter-list li>.btn{
    width:100px;
    background-color:#3385ff;
    color:#fff;
}
.intelligentSearch .filter-list li:first-child,.intelligentSearch .filter-list li:nth-of-type(6){
    margin-left:0;
}
.intelligentSearch .filter-list .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 120px;
}
.intelligentSearch .filter-list li>input{

}

.intelligentSearch .bootstrap-table .table thead>tr>th{
    border:none;
    background-color:#3385ff;
    color:#ffffff;
}
.intelligentSearch .bootstrap-select.btn-group .dropdown-menu.inner li{
    width:100%;
}
.intelligentSearch table th{font-weight:normal;}
.i-item-title{
    padding-left:12px;
    border-left:4px solid #3385ff;
}
.project-content li{
    padding:30px 0;
    border-bottom:1px solid #e5e5e5;
}

.project-content .i-wrapper{
    width:100%;
     margin-top:20px;
     padding:0 15px;
}
.project-content .table1{
    width:100%;
}
.project-content .table1 td{
    height:40px;
   
}
.project-content .details p{
    margin-top:20px;
}
.project-content .i-wrapper .content{
    margin-top:10px;
}
.project-content .i-wrapper a{
    color:#3385ff;
}
.project-content .i-wrapper p{
    margin-bottom:10px;
}
.intelligentSearch .score-box{
   width:430px;
   margin:0 auto;
}
#score{
    display:inline-block;
    width:240px;
    height:260px;
}
#score+a{
    float:right;
    color:#3385ff;
    margin-top:100px;
   

}

.gray{
    color: #999;
}

.blue{
    color: #2478f6;
}

.person-img{
    height: 117px;
    width: 139px;
    margin: auto;
    padding:7px 18px;
}

.person-img img{
    width: 103px;
    height: 103px;
}

.panel-legal-person p.name{
    margin: 5px auto 17px;
    font-size: 18px;
    color: #333;
}

.list-group.noBorder{
    margin: 15px auto;
}

.list-group.noBorder .list-group-item{
    border:none;
}

.chart-grade{
    height: 330px;
    width: 100%;
}

.enterpriseDataDisplay .table-striped>tbody>tr:nth-of-type(odd){
    background: #fff;
}
.enterpriseDataDisplay .table-striped>tbody>tr:nth-of-type(even){
    background: #fafafa;
}

.panel-body.noPadding{
    padding: 0;
}

.panel-body.noPadding .table{
    margin: 0;
}

.panel-body.noPadding .table td{
    height: 100px;
}

.stock-img-box{
    width: 100%;
    height: 221px;
    margin-bottom: 15px;
}

.stock-img-box img{
    max-width:100%;
    max-height:100%;
}

.relation-wrap{
    height: 251px;
    border-top:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 20px auto;
}

.no-relation{
    line-height: 251px;
    color: #3a3a3a;
}

.tag-num{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #2478f6;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    margin-left: 8px;
}

.enterpriseDataDisplay .itemTitle{
    padding: 0 15px;
}