html,body,ul,li,ol,p,span,div,header,main,h1,h2,h3,h4,h5,h6,em,i,small,section,aside,s,menu,code,label,eq,textarea,input,table,tr,td,th,thead,tbody,option,audio,canvas,svg,select,button,head,footer,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,font,img,ins,kbd,q,samp,strike,strong,msqrt,sub,sup,tt,var,b,u,center,dl,dt,dd,fieldset,form,legend,caption,card,circle,article{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
html,body{min-height:100%;}
html *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,寰蒋闆呴粦,STHeitiSC-Light,simsun,瀹嬩綋,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
    font-size: 16px;
}
ul,ol,li{list-style: none;}
a{
    text-decoration: none;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; }
em,i{font-style:normal;}
.mr5{
    margin-right:5px;
}
body {
    background-color: #f5f5f5;
}
.scrollbar{
    padding:0;
    overflow-y:auto;
    overflow-x: hidden;
    border:1px solid #d6dde5;
    height: 545px;
}
.scrollbar>.table,.scrollbar .table.table-lightblue{
    width:100%;
    margin:0;
    border:none;
    margin-bottom: 0;
    min-height: 100%;
}
/*瀹氫箟婊氬姩鏉″楂樺強鑳屾櫙锛屽楂樺垎鍒搴旀í绔栨粴鍔ㄦ潯鐨勫昂瀵�*/
.scrollbar::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background-color: #f5f5f5;
}
/*瀹氫箟婊氬姩鏉＄殑杞ㄩ亾锛屽唴闃村奖鍙婂渾瑙�*/
.scrollbar::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 5px;
    background-color: #f5f5f5;
}
/*瀹氫箟婊戝潡锛屽唴闃村奖鍙婂渾瑙�*/
.scrollbar::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 6px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a2a1a1;
}
.right_content{
    background-color:#fff;
}
.top.clearfix{
    width: 100%;
    height: 80px;
    background: #030a1c;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
}
#footer{
    padding-top:15px;
    padding-bottom:15px;
    color:#fff;
    font-size:16px;
}
.leftNav{
    background: #f4f4f4;
    width: 200px;
    height: 100%;
}

.mainPage{
    padding: 30px 40px;
    color: #333;
}

.nav-tabs li{
    padding: 0 20px;
}

.nav-tabs li a{
    font-size: 18px;
    color: #333;
}

.nav-tabs li a{
    padding: 10px 8px;
    border: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    border-bottom: 1px solid transparent;
}

.nav-tabs>li>a:hover{
    border-color: transparent;
}

.nav-tabs li.active a,
.nav-tabs li.active a:active,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus{
    color: #3385ff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #3385ff;
}

.nav-tabs.bg-gray{
    background: #ebebeb;
    border:none;
}

.nav-tabs.bg-gray li{
    margin: 0 35px;
}

.nav-tabs.bg-gray li:first-child{
    margin-left: 60px;
}

.nav-tabs.bg-gray li a{
    background: transparent;
    border: 2px;
    padding: 35px 0;
}

.nav-tabs.bg-gray li.active a{
    border-bottom: 2px solid #3385ff;
}

.nav-tabs.bg-gray li a:hover,
.nav-tabs.bg-gray li a:active,
.nav-tabs.bg-gray li a:focus{
    border: none;
    background: transparent;
    border-bottom: 2px solid #3385ff;
}

.nav-pills.nav-blue>li.active>a,
.nav-pills.nav-blue>li.active>a:focus,
.nav-pills.nav-blue>li.active>a:hover{
    background: #3385ff;
}

.mrL20{
    margin-left: 20px;
}

.mrB20{
    margin-bottom: 20px;
}

.mrR15{
    margin-right: 15px;
}

.mrR5{
    margin-right: 5px;
}

.mrT15{
    margin-top: 15px;
}

.mrT10{
    margin-top: 10px;
}

.mrT30{
    margin-top: 30px;
}

.mrB10{
    margin-bottom: 10px !important;
}

.techStorySet .row,
.techStory .row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    font-size:16px;
}
input.bigSize,
.btn.bigSize{
    height: 44px !important;
}

.techStory .btn.bigSize{
    width: 90px;
}

.col-md-1.first-col{
    padding-left: 0;
    line-height:34px;
}

.first-col label{
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
}

article{
    margin: auto;
    padding: 25px 0;
    font-size: 0;
    border-bottom: 1px solid #cecece;
}

.checkboxWrap{
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
}

.video-wrap .checkboxWrap,
.img-wrap .checkboxWrap{
    height: 228px;
    line-height: 228px;
}

.mediaBox{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;;
}

.mediaBox video, .mediaBox img{
    width: 320px;
    height: 208px;
}
.mediaBox video{
    background:#000;
}

section.content{
    display: inline-block;
    width: calc(100% - 410px);
    vertical-align: middle;
    margin-left: 10px;
}

.techStory section.content{
    width: calc(100% - 340px);
}

article .info{
    margin-top: 10px;
    color: #999;
}

article .info span{
    padding: 0 15px 0 0;
    display: inline-block;
}

.info span.tag,
.article-info span.tag{
    padding: 4px 15px;
    border: 1px solid #3385ff;
    color: #3385ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.info .tag.red,
.article-info .tag.red{
    border: 1px solid #ff3355;
    color: #ff3355;
}

.info .tag.green,
.article-info .tag.green{
    border: 1px solid #7fc420;
    color: #7fc420;
}

article.mediaBox .info{
    margin-top: 40px;
}

article .btn{
    width: 120px;
    margin: 0 22px;
}

article section {
    display: inline-block;
}

section.right{
    width: calc(100% - 60px);
    vertical-align: middle;
}

article p.detail{
    text-indent: 2em;
    line-height: 30px;
    color: #666;
    margin-top: 10px;
    height: 90px;
    overflow: hidden;
}

article .img-list{
    margin-top: 25px;
}

article .img-list img{
    width: 100%;
    height: 100%;
}

.page-bar{
    text-align: center;
}

.noDataWrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.noDataWrapper p.text{
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.techCube{
    background: #f6f9fb;
}

.techCube .btn-group .btn{
    padding: 6px 20px;
    background: #ebebeb;
    color: #333;
}

.techCube .btn-group .btn-active{
    background: #3385ff;
    color: #fff;
}

.btn-wrapper{
    background: #fff;
    padding: 40px 50px 0px 50px;
}

.chart-wrap{
    width: 100%;
    height: 450px;
    margin: auto;
    padding: 15px 0;
}

.techCube .date-wrapper{
    margin-bottom: 20px;
}

.itemTitle{
    font-size: 18px;
}
.left_border {
    display: inline-block;
    border-left: none;
    padding: 0;
}
.itemTitle:before,
.left_border:before {
    content: " ";
    display: inline-block;
    width: 9px;
    height: 16px;
    margin-top: -4px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #3385ff;
}

div.item {
    margin-bottom: 20px;
    padding: 59px;
    background: #fff;
}

.item-half{
    display: inline-block;
    width: calc(50% - 10px);
    background: #fff;
    padding: 59px;
    margin-bottom: 20px;
}

.col-md-2.text{
    line-height: 34px;
    width: 12%;
}

.techCube .search-box{
    margin: 20px auto;
}

.info-wrap{
    font-size: 0;
    padding: 20px;
}

.info-quarter{
    width: 25%;
    display: inline-block;
    text-align: center;
}

.info-quarter .icon-box{
    width: 100px;
    height: 100px;
    background: #f6f9fb;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    line-height: 125px;
}

.info-quarter .name{
    font-size: 16px;
    margin-top: 15px;
}

.info-quarter .num{
    font-size: 24px;
}

.cube-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-image: url('../images/icon1.png');
    background-repeat: no-repeat;
    -webkit-background-size: 120px 30px;
    background-size: 120px 30px;
}

.cube-icon.icon1{
    background-position: 2px 0px;
}

.cube-icon.icon2{
    background-position: -31px 0px;
}

.cube-icon.icon3{
    background-position: -64px 0px;
}

.cube-icon.icon4{
    background-position: -93px 0px;
}

.chart-box{
    font-size: 0;
    padding: 15px 0;
}

.chart-quarter{
    width: 100%;
    height: 210px;
}

.honestyView,
.personalHonestDetail,
.honestyResult{
    padding: 30px 40px;
    background: #f6f9fb;
}

.techPlatform{
    padding: 27px 21px;
    background: #f5f5f5;
}

.item>.left,
.item>.right{
    width: calc(50% - 80px);
    height: 500px;
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
    text-align: center;
}

.score-explain{
    margin: 20px 0px 10px 0px;
}

.score-table{
    width: 500px;
}

.table-wrap{
    padding: 20px;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle!important;
}

.honest-list{
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.honest-list li{
    line-height: 40px;
}

.honest-list li .time{
    margin-right: 4em;
}

.td-chart{
    width: 300px;
    height: 200px;
}

.mrR4{
    margin-right: 4em;
}

.chart-wrap-small{
    height: 200px;
}

.chart-wrap-middle{
    height: 328px;
}

.chart-wrap-h440{
    height: 440px;
}

.chart-wrap-h470{
    height: 470px;
}

.chart-wrap-big{
    height: 550px;
}

.chart-wrap-h490{
    height:490px;
}

.chart-wrap-h340{
    height: 341px;
}

.techPlatform .chart-wrap{
    width: 100%;
}

.techPlatform .panel-body{
    padding: 0 10px;
}

.techPlatform .panel-body .city-info{
    height: 60px;
    line-height: 60px;
}

.techPlatform .panel-body .city-info .emphasize{
    font-size: 18px;
    margin-right: 8px;
}
#map_total,
#map_top{
    cursor:pointer;
}

.articleDetail article{
    margin: auto;
    padding: 0;
    border: none;
}

.articleDetail article .article-info{
    margin: 15px auto;
    font-size: 14px;
}

.article-info span,
.article-sub-info span{
    padding: 5px 20px 5px 0;
}

.articleDetail article .article-sub-info{
    font-size: 14px;
    color: #999;
}

.article-sub-info .like-wrap{
    color: #3385ff;
    cursor: pointer;
}

.article-media{
    margin: 15px auto;
    text-align: center;/*涓嶅姞杩欎釜, 璇ュ鍣ㄩ噷鐨剉ideo涓嶈兘灞呬腑鏄剧ず*/
}

.article-media video{
    height: 545px;
    max-width: 90%;
}

.articleDetail article .article-content{
    margin: 15px auto;
    font-size: 16px;
    text-indent: 2em;
    line-height: 28px;
}

article .copyright{
    font-size: 14px;
    color: #999;
}

.title a,
.title a:hover,
.title a:active,
.title a:focus{
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.articleDetail footer{
    font-size: 12px;
}

.search-select{
    border: 1px solid #cecece;
    font-size: 0;
}

.search-select .box{
    position:relative;
    padding: 10px 0;
    background: #fafafa;
    font-size: 0;
}

.search-select .text{
    padding: 10px 20px;
    border-bottom: 1px solid #cecece;
}

.search-select .left{
    display: inline-block;
    width: 85px;
    text-align: right;
    vertical-align: top;
    line-height: 30px;
    margin-right: 10px;
}

.search-select .right{
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 95px);
    vertical-align: top;
    line-height: 30px;
}

.search-select ul li{
    display: inline-block;
    padding: 1px 10px;
    cursor: pointer;
}

.search-select li.selected{
    background: #3385ff;
    color: #fff;
    border-radius: 5px;
}

.infoCenter .infoCenter-panel{
    height: 478px;
}

.infoCenter .infoCenter-panel .panel-heading{
    height: 48px;
}

.infoCenter .infoCenter-panel .panel-body{
    height: 428px;
}

.infoCenter-panel .echart-box{
    height: 398px;
}

.panel-body.hot-list-box{
    padding: 0;
}

.article-content {
    line-height:24px;
    background-color:#fff;
    white-space: pre-wrap; /*css-3*/
    white-space: -moz-pre-wrap; /*Mozilla,since1999*/
    white-space: -pre-wrap; /*Opera4-6*/
    white-space: -o-pre-wrap; /*Opera7*/
    word-wrap: break-word; /*InternetExplorer5.5+*/
}

.hot-list{
    height: 100%;
    overflow-y: auto;
}

.hot-list li{
    line-height: 54px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 28px;
}

.mainPage .input-group-addon{
    top: 0;
    background: transparent;
    cursor: pointer;
}

.article-wrapper.hasBorder{
    border: 1px solid #cecece;
}

.article-wrapper.hasBorder article{
    padding: 25px 40px;
}

.article-wrapper.hasBorder article:last-child{
    border-bottom: none;
}

.tech-hot .title{
    color: #3385ff;
    margin-bottom: 10px;
}

.hot-list a{
    line-height: 30px;
    margin: 15px 0;
    color: #666;
    text-decoration: none;
}

.hot-list a:hover,
.hot-list a:active,
.hot-list a:focus{
    color: #666;
}

.infoCenter .article-media.slideBox{
    margin-left: 0;
}

.roleManage .search-wrapper{
    padding: 20px 0;
}

.bg-blue{
    background: #3385ff !important;
    color: #fff !important;
}

.bg-blue button.close{
    color: #fff;
    opacity: 1;
}

.table thead tr th{
    font-weight: normal;
}

.delete-icon-box{
    width: 90px;
    height: 90px;
    margin: auto;
    background: #63c422;
    border-radius: 50%;
    padding: 27px;
}

.delete-icon-box .glyphicon-trash{
    font-size: 35px;
    color: #fff;
}

.deleteRoleModal p.text{
    font-size: 16px;
    color: #666;
    margin: 15px auto;
    text-align: center;
}

.text-left{
    text-align: left !important;
}

.text-right{
    text-align: right !important;
}

.text-center{
    text-align: center !important;
}
/*
.table-thead-blue>thead>tr>th {
    background-color: #3385ff;
    color: #ffffff;
} */

.table-thead-blue>thead>tr>th,.table-thead-blue>tbody>tr>td {
    border: none;
}
.form-striped>div.form-group{
    margin-bottom: 0;
}
.form-striped>div:nth-of-type(odd){
    background-color: #f9f9f9;
}
.border-table-600{
    width: 600px;
    margin: 0 auto;
    border:1px solid #ddd;
}
.border-table-600 td{
    padding-left: 30px;
}
.bg-gray{
    background: #fafafa !important;
}

.bg-white{
    background: #fff !important;
}

.publish-box{
    height: 44px;
    padding: 12px 0;
}

.loadMoreBox{
    margin-top: 25px;
}

span.thumbs-up{
    cursor: pointer;
}

.thumbs-up.active{
    color: #2478f6;
}

.techStory .search-box,
.techStory .summary{
    margin: 20px 0;
}

.techStory .search-box .input-group{
    width: 600px;
}

.techStory .icon-edit{
    background-image: url('../images/icon-edit.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
}


/*绉戞妧鏅烘眹*/
/*涓�閿悳绱�*/

.poolSearch .input-group{
    width:866px;
    margin:0 auto;
    margin-top:30vh;
}
.poolSearch .form-control,.poolResult .form-control{
    height:46px;
    width:736px;
    border:1px solid #3385ff;
}
.poolSearch .input-group-btn .btn,.poolResult .input-group-btn .btn{
    height:46px;
    width:130px;
    border:1px solid #3385ff;
    background-color:#3385ff;
    color:#ffffff;
}
.poolSearch .list-group{
    width:1134px;
    margin:0 auto;
    margin-top:100px;

}
.poolSearch .list-group .list-group-item{
    padding:0;


}
.poolSearch .list-group .list-group-item{
    margin-left:20px;
}
.poolSearch .list-group .title{
    display:inline-block;
    background-color:#fafafa;
    width:146px;
    height:62px;
    line-height:62px;
    border-right:1px solid #ddd;
    font-size: 16px;
}
.poolSearch  .item-list {
    display:inline-block;
    vertical-align: middle;
    width:880px;
    padding:0 15px;

}
.poolSearch  .item-list li{
    float:left;
    width:121px;
    text-align:center;
    color:#666666;
    cursor:pointer;
}
.poolSearch .modal-header{
    background-color:#3385ff;
    text-align: center;
    color:#ffffff;

}
.poolSearch .modal-header .close{
    color:#ffffff;
    opacity:1;
    box-shadow: 0;
    margin-top:4px;
}
@media (min-width: 768px){
    .poolSearch .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
}
.poolSearch .modal .item-list li{text-align: left}
.poolSearch .modal .item-list li,#setRange .modal-body h4{
    margin-top:40px;
}
#setRange .modal-body{
    padding-bottom:60px;
}
.poolSearch .icheckbox_square-blue{
    margin-right:8px;
}
.poolSearch .word-box{
    padding:9px 30px 24px 30px;
    border:1px solid #cfd1d3;
    border-radius: 3px;
    margin-top:20px;
}
.poolSearch .word-list span{
    display:inline-block;
    padding:5px 15px;
    margin-right:10px;
    border:1px solid #cfd1d3;
    color:#4c4c4c;
    margin-top:15px;
    cursor:pointer;

    -moz-user-select:none;/*鐏嫄*/
    -webkit-user-select:none;/*webkit娴忚鍣�*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*鏃╂湡娴忚鍣�*/
    user-select:none;

}
/* .word-list .top{
    height:auto;
    background:#fff;
} */
.poolSearch .add-word input{
    border:1px solid #cfd1d3;
    height:40px;
    padding:0 10px;
    border-radius:4px;
}
.poolSearch .add-word{
    margin-top:15px;
}
.poolSearch .add-word .btn{
    width:100px;
    border:1px solid #3385ff;
    background-color:#3385ff;
    color:#ffffff;
    height:40px;
    margin-left:20px;

}
.poolSearch .word-box h4{
    margin-top:15px;
}

.btn{
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.btn-primary{
    color:#fff;
    background-color: #3385ff;
    border-color: #3385ff;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:hover {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #2674e8;
    border-color: #267af7;
}
.btn-primary .badge {
    color: #2674e8;
    background-color: #fff;
}
.btn-success{
    color:#fff;
    background-color: #7fc420;
    border-color: #81c521;
}
.btn-success:focus,
.btn-success.focus {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:hover {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    color: #fff;
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus {
    background-color: #77b71f;
    border-color: #73b11c;
}
.btn-success .badge {
    color: #77b71f;
    background-color: #fff;
}
.article-form{
    padding-top: 65px;
    width: 850px;
    margin:auto;
}

.nav.nav-classify{
    margin: 30px 0;
}

.nav.nav-classify li{
    width: 16.6667%;
    margin: 0;
    text-align: center;
}

.nav.nav-classify li a{
    font-size: 18px;
    color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: #3385ff;
    border: 1px solid #e5e5e5;
}

.nav.nav-classify li:hover a,
.nav.nav-classify li:active a,
.nav.nav-classify li:focus a{
    background: #6aa5fc;
}

.nav.nav-classify li.active a{
    background: #fff;
    color: #000;
}
.companyDetail div.item,
.reportDetail .item,
.projectAnalysis div.item{
    padding: 10px 0 0;
    margin-bottom: 0;
}

.companyDetail .nav-pills{
    margin: 20px auto;
}

.companyDetail .table-interval.table-quarter td{
    width: 25%;
}

.companyDetail .table.table-interval tr td:nth-child(odd){
    background: #f7f7f7;
}

.companyDetail .btn-link:focus,
.companyDetail .btn-link:hover{
    text-decoration: none;
}

.panel-lightblue .panel-heading,
.table.table-lightblue thead tr th{
    background: #e7f7ff;
    font-size: 14px;
}

.table.table-lightblue{
    border: 1px solid #d6dde5;
}

/*鎼滅储缁撴灉*/
.poolResult a{
    color:#3385ff;
}
.poolResult .top-tool .input-group{
    width:866px;
    margin-top:-10px;
}
.poolResult .top-tool{
    padding-top:35px;
}
.poolResult .top-tool a{
    display:inline-block;
    font-size:22px;
    vertical-align: middle;
    color:#3385ff;
}
.poolResult .top-tool a:hover,.poolResult .top-tool a:focus{
    text-decoration: none;
}
.poolResult .result-box {
    margin-top:30px;
}
.poolResult .result-box:last-of-type {
    margin-bottom:30px;
}

.poolResult .result-box table{
    margin-bottom: 20px;
}
.poolResult .result-box table td{
    height:40px;
    vertical-align:bottom;


}
.poolResult .result-box table tr td:first-child a{
    display:block;
    width:600px;
    padding-right:20px;
    color:#333;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/*鏅烘悳*/
.intelligentSearch .filter-list{
    margin-top:20px;
}
.intelligentSearch .filter-list li{
    display:inline-block;
    margin-left:20px;
    margin-bottom:20px;
}
.intelligentSearch .filter-list li>.btn{
    width:100px;
    background-color:#3385ff;
    color:#fff;
}
.intelligentSearch .filter-list li:first-child,.intelligentSearch .filter-list li:nth-of-type(6){
    margin-left:0;
}
.intelligentSearch .filter-list .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 120px;
}
.intelligentSearch .filter-list li>input{

}

.intelligentSearch .bootstrap-table .table thead>tr>th{
    border:none;
    background-color:#3385ff;
    color:#ffffff;
}
.intelligentSearch .bootstrap-select.btn-group .dropdown-menu.inner li{
    width:100%;
}
.intelligentSearch table th{font-weight:normal;}
.i-item-title{
    padding-left:12px;
    border-left:4px solid #3385ff;
}
.project-content li{
    padding:30px 0;
    border-bottom:1px solid #e5e5e5;
}

.project-content .i-wrapper{
    width:100%;
    margin-top:20px;
    padding:0 15px;
}
.project-content .table1{
    width:100%;
}
.project-content .table1 td{
    height:40px;

}
.project-content .details p{
    margin-top:20px;
}
.project-content .i-wrapper .content{
    margin-top:10px;
}
.project-content .i-wrapper a{
    color:#3385ff;
}
.project-content .i-wrapper p{
    margin-bottom:10px;
}
.intelligentSearch .score-box{
    width:430px;
    margin:0 auto;
}
#score{
    display:inline-block;
    width:240px;
    height:260px;
}
#score+a{
    float:right;
    color:#3385ff;
    margin-top:100px;


}

.gray{
    color: #999;
}

.blue{
    color: #3385ff;
}

.person-img{
    height: 117px;
    width: 139px;
    margin: auto;
    padding:7px 18px;
}

.person-img img{
    width: 103px;
    height: 103px;
}

.panel-legal-person p.name{
    margin: 5px auto 17px;
    font-size: 18px;
    color: #333;
}

.list-group.noBorder{
    margin: 15px auto;
}

.list-group.noBorder .list-group-item{
    border:none;
}

.chart-grade{
    height: 330px;
    width: 100%;
}

.panel-body.noPadding{
    padding: 0;
}

.panel-body.noPadding .table{
    margin: 0;
}

.panel-body.noPadding .table td{
    height: 100px;
}

.stock-img-box{
    width: 100%;
    height: 221px;
    margin-bottom: 15px;
}

.stock-img-box img{
    max-width:100%;
    max-height:100%;
}

.relation-wrap{
    height: 251px;
    border-top:1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin: 20px auto;
}

.no-relation{
    line-height: 251px;
    color: #3a3a3a;
}

.tag-num{
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #2478f6;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius: 50%;
    margin-left: 8px;
}

.annual-report>div>div{
    border: 1px solid #e6e6e6;
}

.annual-report .pull-left,
.annual-report .pull-right{
    width: 50%;
    padding: 30px 0;
    height: 180px;
}

.report-logo{
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: auto;
    background-image: url('../images/report.png');
}

.report-logo.report2{
    background-position: -132px 0;
}

.report-logo.report3{
    background-position: -264px 0;
}

.report-logo.report4{
    background-position: -396px 0;
}

.annual-report p.year{
    font-size: 40px;
    color: #666;
    height: 60px;
    line-height: 60px;
}

.annual-report .btn-box{
    line-height: 60px;
}

#table_projectInfo img{
    width: 120px;
    height: 120px;
}

.reportContainer .search-select{
    margin-top: 25px;
}

.reportContainer .search-select .left{
    width: 120px;
}

.reportContainer .search-select .right{
    width: calc(100% - 130px);
}

.reportContainer .search-select ul li{
    padding: 1px 15px;
    margin: 0 10px;
}

.reportContainer>h6{
    margin: 36px auto;
    color: #333;
}

.report-row>div{
    padding: 15px;
}

.report-row .content{
    border: 1px solid #dbdbdb;
    padding: 40px 0;
    box-shadow: 1px 1px 6px #dbdbdb, 1px 1px 6px #dbdbdb;
}

.report-row .blue{
    margin: 35px auto 10px;
}

.report-row .date{
    margin-bottom: 30px;
}

.reportDetail{
    position: relative;
}

.reportDetail>.left-part{
    position: absolute;
    width: 230px;
    height:100%;
    left: 0;
    top: 0;
    background: #f5f5f5;
}

.reportDetail.wideLeft>.left-part{
    width: 230px;
}

.reportDetail>.left-part .list-group-item{
    background: #f5f5f5;
    padding: 0;
}

.reportDetail>.left-part .list-group-item>a{
    line-height:25px;
    padding: 10px 15px 10px 40px;
    display: block;
}

.reportDetail .back-box,
.reportDetail>.left-part .list-group-item.special{
    padding: 10px 15px;
}

.reportDetail>.right-part{
    margin-left: 225px;
    padding: 30px 40px;
}

.reportDetail.wideLeft>.right-part{
    margin-left: 230px;
}

.reportDetail .reportTitle{
    position: relative;
}

.reportDetail .reportTitle .btn-wrap{
    position: absolute;
    right:0;
    top:0;
}

.panel.panel-white{
    box-shadow: 0 0 6px #b2ccff, 0 0 6px #b2ccff;
    -moz-box-shadow: 0 0 6px #b2ccff,0 0 6px #b2ccff;
    -o-box-shadow: 0 0 6px #b2ccff, 0 0 6px #b2ccff;
    -webkit-box-shadow: 0 0 6px #b2ccff, 0 0 6px #b2ccff;
}

.panel.panel-white .panel-heading{
    background: #fff;
    /* color: #00d2ff; */
    color: #00ca9d;
}
.panel.panel-tran{
    border:none;
    background-color: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
}
.panel.panel-tran .panel-heading{
    background-color: transparent;
    border:none;
}
.techPlatform .techIcon{
    display: inline-block;
    width: 90px;
    height: 92px;
    background-image: url(../images/icon-tech-platform.png);
    background-repeat: no-repeat;
    background-size: 277px 90px;
}

.techIcon.icon2{
    background-position: -94px 0;
}

.techIcon.icon3{
    background-position: -189px 0;
}

.techPlatform .tech-small-panel{
    padding: 45px 0;
}

.techPlatform .tech-small-panel .num{
    color: #1ccaff;
    line-height: 56px;
    margin-left: -10px;
    font-size: 24px;
}

.techPlatform .tech-small-panel .num.second{
    color: #1fdad7;
}

.techPlatform .tech-small-panel .num.third{
    color: #1fe2c0;
}

.tech-small-panel span.name{
    color: #808080;
    font-size: 16px;
    line-height: 40px;
    margin-left: -10px;
}

.border-box{
    border: 1px solid #e6e6e6;
}

.reportDetail .icon-detail1{
    display: inline-block;
    width: 125px;
    height: 125px;
    background-image: url("../images/icon-report2.png");
    background-repeat: no-repeat;
}

.reportDetail .icon-detail1.icon1{
    background-position: 2px -1px;
}

.reportDetail .icon-detail1.icon2{
    background-position: -135px -1px;
}

.reportDetail .icon-detail1.icon3{
    background-position: -272px 1px;
}

.reportDetail .icon-detail1.icon4{
    background-position: -410px -1px;
}

.reportDetail .item .row .pull-left,
.reportDetail .item .row .pull-right{
    width: 50%;
}

.reportDetail .row .text-top{
    font-size: 26px;
    color: #2396fa;
    line-height: 65px;
}

.reportDetail .row .text-bottom{
    font-size: 16px;
    line-height: 65px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reportDetail .row .border-box{
    padding: 20px;
}

.reportDetail .list-group a{
    text-decoration: none;
    color: #666;
}

.reportDetail .list-group.smallSize a{
    font-size: 12px;
}

.reportDetail .list-group-item.special{
    font-size: 16px;
}

.reportDetail .list-group-item.active,
.reportDetail .list-group-item:hover{
    background: #2478f6;
}
.reportDetail .list-group-item.active a,
.reportDetail .list-group-item:hover a,
.reportDetail .list-group a:active{
    color: #fff;
}

.reportDetail .list-group-item.special:hover{
    background: transparent;
}

.reportDetail .back-box a.toBack{
    font-size: 16px;
    color: #3385ff;
}

.reportDetail .list-group.noBorder{
    margin:  0;
}

.reportDetail .list-group .icon-list{
    display: inline-block;
    width: 17px;
    height: 20px;
    background-image: url("../images/icon-report-list.png");
    background-repeat:no-repeat;
    vertical-align: middle;
}

.reportDetail .icon-list.icon1{
    background-position: -2px 1px;
}

.reportDetail .icon-list.icon2{
    background-position: 0 -22px;
}

.reportDetail .icon-list.icon3{
    background-position: 0 -46px;
}

.nav.nav-classify.bg-white li a{
    background: #fff;
    color: #333;
}

.nav.nav-classify.bg-white li.active a{
    background: #3385ff;
    color: #fff;
}

.companyDetail .nav-default li{
    width: 16.6667%;
    margin: 0;
}

.nav.nav-tabs.nav-default{
    border-right:1px solid #ddd;
    border-bottom:none;
}

.nav.nav-default li.active{
    background: #3385ff;
}

.nav-tabs.nav-default li a{
    margin: 0;
    border-radius: 0;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.nav-tabs.nav-default li.active a,
.nav-tabs.nav-default li.active a:active,
.nav-tabs.nav-default li.active a:hover,
.nav-tabs.nav-default li.active a:focus{
    color: #fff;
    background-color: transparent;
}

.height50{
    height: 50px !important;
}

.honestyView .panel.panel-white{
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
}

.honestyView h3.blue{
    color: #0096e7;
}

.honestyView h3.blue:first-child{
    line-height: 60px;
}

.honestyView .text-box{
    padding: 40px 0;
}

.honestyView .text-box .name{
    color: #808080;
    line-height: 30px;
}

.pointer{
    cursor: pointer;
}

.table-box{
    height: 545px;
    margin-bottom: 20px;
    overflow-y: auto;
}

.table-box .table{
    margin-bottom: 0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #3385ff;
    border-color: #3385ff;
}

.pagination>li>a, .pagination>li>span {
    color: #3385ff;
}
.personalHonestDetail .item>.left>div{
    padding-left:20px;
}
.personalHonestDetail .item>.left,
.personalHonestDetail .item>.right{
    width: 100%;
    height: auto;
    margin: 20px;
    vertical-align: middle;
    text-align: left;
}
.nav-tabs li:first-child {
    margin-left: -20px;
}
.nav-tabs li>a:hover{
    background-color:transparent;
}
.reportDetail .right-part {
    background-color: #fff;
}
.con_from .detail{
    color:#808080;
}
.font_details{
    padding:10px;
    line-height:30px;
    font-size: 14px;
}
.has_mar>button.btn-primary{
    cursor:default;
    border-radius:0;
}
.has_mar>button.btn-primary:focus,
.has_mar>button.btn-primary:hover,
.has_mar>button.btn-primary:active,
.has_mar>button.btn-primary:focus:hover{
    background-color: #3385ff;
    border-color: #3385ff;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}
.right_content{
    min-height:1145px !important;
}
.fixed-table-container{
    border:none !important;
}
/*淇敼閮ㄥ垎*/
.tit{
    font-weight:400;
    text-align:center;
    color:#333;
}
.tip {
    font-size: 16px;
    font-weight:400;
    color: #0e68ef;
    margin-left:5px;
    margin-right:5px;
}
.bootstrap-table .table thead {
    background-color: #3385ff;
    color: #fff;
}

.bootstrap-table .table thead th {
    border:none;
}

.mainPage .btn-link.btn-blue{
    color: #3385ff;
}

.mainPage .btn-link.btn-blue:FOCUS,
.mainPage .btn-link.btn-blue:HOVER {
    color: #3385ff;
}

.mainPage .btn-link.btn-waiting{
    color: #808080;
}

.mainPage .btn-link.btn-waiting:FOCUS,
.mainPage .btn-link.btn-waiting:HOVER {
    color: #808080;
}

.fixed-table-body::-webkit-scrollbar{
    width: 7px;
    height: 7px;
    background: #fff;
}
.fixed-table-body::-webkit-scrollbar-track{
    background: #fff;
}
.fixed-table-body::-webkit-scrollbar-thumb{
    height: 7px;
    background-color: #ccc;
    border-radius: 3px;
}

.w120{
    width: 120px;
}

.content-wrap{
    position: relative;
}

.content-wrap .export-btn-box{
    position: absolute;
    right: 0;
    top: 0;
}

.form-group-space .form-group{
    margin-right: 15px !important;
    margin-bottom: 15px !important;
}

/*------------------------------椤甸潰鍙充笂瑙掑浘鏍囨牱寮�-----------------------------------------*/
.center-list{
    height: 30px;
}

.center-list li{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
    background-image: url("../images/icon-center.png");
    background-repeat: no-repeat;
}

.center-list li.icon1{
    background-position: 2px 2px;
}

.center-list li.icon1:HOVER,
.center-list li.icon1:VISITED{
    background-position: 2px -38px;
}


.center-list li.icon2{
    background-position: -33px 2px;
}

.center-list li.icon2:HOVER,
.center-list li.icon2:VISITED{
    background-position: -33px -38px;
}


.center-list li.icon3{
    background-position: -68px 2px;
}

.center-list li.icon3:HOVER,
.center-list li.icon3:VISITED{
    background-position: -68px -37px;
}


.center-list li.icon4{
    background-position: -103px 2px;
}

.center-list li.icon4:HOVER,
.center-list li.icon4:VISITED{
    background-position: -103px -37px;
}