html,body,ul,li,ol,p,span,div,header,main,h1,h2,h3,h4,h5,h6,em,i,small,section,aside,s,menu,code,label,eq,textarea,input,table,tr,td,th,thead,tbody,option,audio,canvas,svg,select,button,head,footer,applet,object,iframe,blockquote,pre,a,abbr,acronym,address,big,cite,del,dfn,font,img,ins,kbd,q,samp,strike,strong,msqrt,sub,sup,tt,var,b,u,center,dl,dt,dd,fieldset,form,legend,caption,card,circle,article{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
html,body{height:100%;}
html *{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body{
    font-family: PingFang SC,Lantinghei SC,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,微软雅黑,STHeitiSC-Light,simsun,宋体,WenQuanYi Zen Hei,WenQuanYi Micro Hei,'sans-serif';
    font-size: 14px;
}
ul,ol,li{list-style: none;}
a{
    text-decoration: none;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; }
em,i{font-style:normal;}

.top{
    height: 80px;
    background: #3385ff;
}

.leftNav{
    background: #f4f4f4;
    width: 200px;
    height: 100%;
}

.mainPage{
    padding: 35px 35px 20px 35px;
    color: #333;
    font-size: 16px;
}

.nav-tabs li{
    margin-right: 50px;
}

.nav-tabs li a{
    font-size: 18px;
    color: #333;
}

.nav-tabs li a{
    padding: 10px 0px;
}

.nav-tabs>li>a:hover{
    border-color: transparent;
}

.nav-tabs li.active a,
.nav-tabs li.active a:active,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus{
    color: #3385ff;
    border:none;
    border-bottom:1px solid #3385ff;
}

.nav-tabs.bg-gray{
    background: #ebebeb;
    border:none;
}

.nav-tabs.bg-gray li{
    margin: 0px 35px;
}

.nav-tabs.bg-gray li:first-child{
    margin-left: 60px;
}

.nav-tabs.bg-gray li a{
    background: transparent;
    border: 2px;
    padding: 35px 0px;
}

.nav-tabs.bg-gray li.active a{
    border-bottom: 2px solid #3385ff;
}

.nav-tabs.bg-gray li a:hover,
.nav-tabs.bg-gray li a:active,
.nav-tabs.bg-gray li a:focus{
    border: none;
    background: transparent;
    border-bottom: 2px solid #3385ff;
}

.nav-pills.nav-blue>li.active>a, 
.nav-pills.nav-blue>li.active>a:focus, 
.nav-pills.nav-blue>li.active>a:hover{
    background: #3385ff;
}

.mrL20{
    margin-left: 20px;
}

.mrB20{
    margin-bottom: 20px;
}

.techStorySet .row,
.techStory .row{
    margin:24px auto 40px;
}

input.bigSize{
    height: 54px;
}

.col-md-1.first-col{
    padding-left: 0px;
    line-height:34px;
}

.first-col label{
    font-weight: normal;
    font-size: 16px;
    margin-left: 5px;
}

 article{
    margin: auto;
    padding: 25px 0px;
    font-size: 0px;
    border-bottom: 1px solid #cfcfcf;
}

.checkboxWrap{
    display: inline-block;
    width: 60px;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
}

.video-wrap .checkboxWrap,
.img-wrap .checkboxWrap{
    height: 228px;
    line-height: 228px;
}

.mediaBox{
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    margin-right: 10px;;
}

.mediaBox video, .mediaBox img{
    width: 320px;
    height: 208px;
}

section.content{
    display: inline-block;
    width: calc(100% - 410px);
    vertical-align: middle;
    margin-left: 10px;
}

article .info{
    font-size: 14px;
    margin-top: 25px;
}

article .info span{
    padding: 5px 12px 5px 0px;
}

.info span.tag{
    padding: 4px 12px;
    border: 1px solid #3385ff;
    color: #3385ff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-right: 12px;
}

article.mediaBox .info{
    margin-top: 40px;
}

article .btn{
    width: 120px;
    margin: 0px 22px;
}

section.right{
    display: inline-block;
    width: calc(100% - 60px);
    vertical-align: middle;
}

article p.detail{
    font-size: 14px;
    color: #666;
    margin-top: 25px;
}

.page-bar{
    text-align: center;
}

.noDataWrapper{
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

.noDataWrapper p.text{
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

.techCube{
    background: #f6f9fb;
}

.techCube .btn-group .btn{
    padding: 6px 20px;
    background: #ebebeb;
    color: #333;
}

.techCube .btn-group .btn-active{
    background: #3385ff;
    color: #fff;
}

.tab-pane .content{
    font-style: 0;
}

.btn-wrapper{
    background: #fff;
    padding: 40px 50px 0px 50px;
}

.chart-wrap{
    width: 600px;
    height: 450px;
    margin: auto;
    padding: 15px 0px;
}

.techCube .date-wrapper{
    margin-bottom: 20px;
}

.itemTitle{
    font-size: 16px;
    padding: 0px 25px;
    border-left: 3px solid #3385ff;
}

div.item {
    margin-bottom: 20px;
    padding: 20px 50px;
    background: #fff;
}

.item-half{
    display: inline-block;
    width: calc(50% - 10px);
    background: #fff;
    padding: 20px 20px 20px 50px;
    margin-bottom: 20px;
}

.item-half:nth-child(odd){
    margin-right: 15px;
}