@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", Arial, sans-serif;
    font-size: 14px;
}
.list_dl{
    padding-top: 50px;
}
.list_dt{
    background: #f5f5f5;
    color: #333;
    padding: 0 40px 0 80px;
    height: 80px;
    line-height: 80px;
    text-align: left;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}
.list_dt:hover{
    background: #4285F4 ;
    color: #fff;
}

.list_dt:hover ._after{
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4285F4;
}
#open{
    background: #4285F4;
    color: #fff;
}
#open ._after{
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4285F4;
}
.list_dt_icon{
    position: absolute;
    right: 40px;
    top: 32px;
    display: block;
    width: 16px;
    height: 16px;
    background: url("../images/off.png") no-repeat;
}
#open .list_dt_icon{
    background: url("../images/open.png") no-repeat;
}
.list_dd{
    display: none;
}
.list_li{
    text-align: center;
    background: #f5f5f5;
    list-style-type: none;
    color: #333;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #f5f5f5;
}
.list_li:hover{
    background: #4285F4;
}

.left_nav .icon_img{
    background-image: url('../images/left_nav.png');
    background-repeat: no-repeat;
    -webkit-background-size: 243px 79px;
    background-size: 288px 79px;
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.icon_img.icon1{
    background-position: 3px 3px;
}

#open .icon_img.icon1,
.list_dt:hover .icon_img.icon1{
    background-position: 3px -47px;
}

.icon_img.icon2{
    background-position: -41px 0px;
}

#open .icon_img.icon2,
.list_dt:hover .icon_img.icon2{
    background-position: -43px -47px;
}

.icon_img.icon3{
    background-position: -83px 0px;
}

#open .icon_img.icon3,
.list_dt:hover .icon_img.icon3{
    background-position: -84px -47px;
}

.icon_img.icon4{
    background-position: -127px 0px;
}

#open .icon_img.icon4,
.list_dt:hover .icon_img.icon4{
    background-position: -127px -44px;
}

.icon_img.icon5{
    background-position: -172px 1px;
}

#open .icon_img.icon5,
.list_dt:hover .icon_img.icon5{
    background-position: -172px -46px;
}

.icon_img.icon6{
    background-position: -213px 2px;
}

#open .icon_img.icon6,
.list_dt:hover .icon_img.icon6{
    background-position: -213px -46px;
}

.icon_img.icon7{
    background-position: -258px 2px;
}

#open .icon_img.icon7,
.list_dt:hover .icon_img.icon7{
    background-position: -257px -45px;
}

.left_nav.another{
    width: 120px;
}

.left_nav.another .list_dt{
    padding: 0px 10px;
    height: auto;
}

.left_nav.another .list_dt p{
    text-align: center;
    line-height: 40px;
    padding: 10px 0px;
}

.left_nav.another .icon_img{
    display: block;
    margin: auto;
}

.left_nav.another .list_dt_icon{
    display: none;
}

.right_content.another{
    width: auto;
}